.hero{
    background: var(--color-bg-secondary);
    color: var(--color-black);

    .wrapper{
        display: flex;
        justify-content: space-between;
        padding: 100px 0 40px;
    }

    .hero_media, .hero_content_top, .hero_count, .hero_content_bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hero_content_top{
        background-color: white;
        padding: 50px;

        
    }


    .hero_content{
        .hero_media{
            .hero_options{
                display: flex;
                margin:12px 0;
                .hero_button_secondary{
                    button{
                        border:2px solid var(--color-pink);
                        border-radius: 8px;
                        color: var(--color-pink);
                        font-size: 18px;
                        margin-left: 12px;
                        padding: 12px;
                        background-color: white;
                    }
                }
            }
        }
        .hero_image{
            img{
                height: 432px;
                width: 783px;
            }
        }
    }
    .hero_contenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;

        .hero_content_top{
            position: relative;
            margin: 0 0 60px 0;
            .hero_button{
                position: absolute;
                bottom: -44px;
                left: 210px;

                button{
                    background: var(--color-pink);
                    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.12);
                    border-radius: 8px;
                    color: white;
                    border: white solid 0px;
                    height: 89px;
                    width: 414px;
                    font-size: 36px;
                }
            }
        }
        
    }


    .hero_count{

        .hero_particpant, .hero_days{
            margin: 40px;
            text-align: center;
    
    
            h4, p{
                margin: 2px;
                
            }
    
            h4{
                font-size: 36px;
            }
    
            p{
                color: #AEABAE;
                font-size: 18px;
            }
        }
    }

    

}



